@inherits LayoutComponentBase
@inject BasketState BasketState
@implements IDisposable
<div class="sidebar">
   
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="/shopping-cart" class="nav-link btn btn-link"><i class="fas fa-shopping-cart"></i> @BasketState.BasketItemsCount</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code
{
    protected override void OnInitialized()
    {
        BasketState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BasketState.OnChange -= StateHasChanged;
    }
}