@inherits LayoutComponentBase
@inject BasketState BasketState
@implements IDisposable
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a class="nav-link btn btn-link" href="#"><i class="fas fa-shopping-cart"></i> @BasketState.OrderCount</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code
{
    protected override void OnInitialized()
    {
        BasketState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BasketState.OnChange -= StateHasChanged;
    }
}